.levelpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.pagetitle {
  min-height: 10vh;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

.speech {
  min-height: 14vh;
  min-width: 55vw;
  border-radius: 5px;
  margin: 15px;
  border: 1px solid grey;
  background-color: white;
}

.innerspeech {
  text-align: left;
  padding: 20px 30px;
}

.stepslist {
  border: 5px solid grey;
  min-height: 60vh;
  margin: 10px;
}

.stepslisttitle {
  height: 40px;
}

.step {
  padding: 10px;
  border: 1px solid grey;
  margin: 3px;
}

.selected {
  padding: 10px;
  margin: 3px;
  border: 5px solid green;
  color: brown;
}

.code {
  min-width: 60vw;
  min-height: 50vh;
  border: 5px solid grey;
  margin: 10px;
}

.codeinternal {
  margin: 10px;
  border: 1px solid grey;
  min-width: 58vw;
  min-height: 90%;
}

.optionslist {
  border: 5px solid grey;
  min-height: 60vh;
  margin: 10px;
}

.optionslisttitle {
  height: 40px;
}

.options {
  list-style-type: none;
}

.option {}

.optionImage {}