.levelpage {
  height: 800px;
  width: 1300px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  flex-grow: 0
}

.pagetitle {
  min-height: 50px;
  position: absolute;
  top: 5px;
  left: 320px;
}

.content {
  position: absolute;
  top: 80px;
  left: 50px;
}

.speech {
  border-radius: 5px;
  margin: 15px;
  position: absolute;
  top: 620px;
  left: 100px;
  width: 900px;
  height: 100px;
  background-image: url("/chat-box.gif");
  background-position: center;
  background-size: cover;
}

.innerspeech {
  text-align: left;
  padding: 20px 30px;
  color: white;
}

.stepslist {
  border: 5px solid grey;
  height: 530px;
  width: 180px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.stepslisttitle {
  height: 40px;
}

.step {
  padding: 10px;
  margin: 3px;
  border: 1px solid grey;
}

.selected {
  padding: 10px;
  margin: 3px;
  border: 5px solid green;
  color: brown;
}

.codeinternal {
  border: 5px solid grey;
  width: 650px;
  height: 530px;
  position: absolute;
  top: 0;
  left: 200px;
}

.requestPanel {}

.optionslist {
  border: 5px solid grey;
  height: 530px;
  overflow: scroll;
  margin-left: 20px;
  position: absolute;
  top: 0;
  left: 850px;
}

.optionslisttitle {
  height: 40px;
}

.options {
  list-style-type: none;
}

.option {
  margin: 10px;
  font-weight: 800;
  border-bottom: 2px solid grey;
}

.optionImage {}

.optionimageDrag {
  position: absolute;
  z-index: 1000000;
}

.consentcomplete {
  position: absolute;
  top: 120px;
  left: 400px;
  z-index: 1000000;
}

.authreqcomplete {
  position: absolute;
  top: 120px;
  left: 400px;
  z-index: 1000000;
}

.implicitcomplete {
  position: absolute;
  top: 120px;
  left: 400px;
  z-index: 1000000;
}

.hero {
  position: relative;
}

.innerhero {
  position: absolute;
  left: -80px;
  top: -10px;
}

.imagewrapper {
  position: absolute;
  z-index: 100;
}